{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="alert alert-info" role="alert">
  Current games for {{ username }}
</div>

  <div class="row">
    {% for game in topgames[:6] %}
    <div class="col-sm-2">
      <div class="card">
        <img src="{{ game.thumbnail }}" class="img-thumbnail rounded" alt="...">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <h6 class="card-title">{{ game.primaryname }}</h5>
            <!-- <li class="list-group-item">{{ game[2] }}</li> -->
            <li class="list-group-item">{{ game.yearpublished }}
              <span class="badge badge-primary badge-pill">{{ game.userrating }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="alert alert-info" role="alert">
    Recommendations for {{ username }}
  </div>
  <div class="row">
    {% for game in recos[:6] %}
    <div class="col-sm-2">
      <div class="card">
        <img src="{{ game.thumbnail }}" class="img-thumbnail rounded" alt="...">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <h6 class="card-title">{{ game.primaryname }}</h5>
            <!-- <li class="list-group-item">{{ game[2] }}</li> -->
            <li class="list-group-item">{{ game.yearpublished }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}

